/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.copilot
/.dotnet
/.lgd-nfy0
/.local
/.pki
/.profile
/.ssh
/.sudo_as_admin_successful
/.venv
/.vscode
/.vscode-print-resource-cache
/.vscode-server
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Afbeeldingen
/Bookshelf
/Desktop
/Documenten
/Downloads
/Muziek
/Openbaar
/Sjablonen
/Video's
/home